.about {
  padding: 130px 0;

  &__img-container {
    img {
      height: 669px;
      width: 725px;

      @media (max-width: 1200px) {
        height: 446px;
        width: 483px;
      }

      @media (max-width: 334px) {
        height: 334px;
        width: 362px;
      }

      @media (max-width: 900px) {
        height: auto;
        width: 100%;
        object-fit: contain;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  &__main-text {
    height: 669px;
    max-width: 85%;
    margin-left: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1200px) {
      height: 446px;
      max-width: 100%;
    }

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;

    @media (max-width: 900px) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.7;
    padding-top: 30px;
    padding-bottom: 50px;

    @media (max-width: 900px) {
      padding-bottom: 30px;
    }
  }

  &__button {
    display: block;
    background: #3a68b8;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
  }

  @media (max-width: 1000px) {
    padding: 100px 0;
  }

  @media (max-width: 768px) {
    padding: 50px 0;
  }
}
